#butt1 {
  width: 20%;
  min-height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px auto;
  font-family: 'Tilt Neon', cursive;
  font-size: 22px;
  float: left;
  border:none;
}

#butt2 {
  width: 20%;
  min-height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px auto;
  font-family: 'Tilt Neon', cursive;
  font-size: 22px;
  float: left;
  border:none;
}

#butt3 {
  width: 20%;
  min-height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px auto;
  font-family: 'Tilt Neon', cursive;
  font-size: 22px;
  float: left;
  border:none;
}

#butt4 {
  width: 20%;
  min-height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px auto;
  font-family: 'Tilt Neon', cursive;
  font-size: 22px;
  float: left;
  border:none;
}

#butt5 {
  width: 20%;
  min-height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px auto;
  font-family: 'Tilt Neon', cursive;
  font-size: 22px;
  float: left;
  border:none;
}


#but1 {
  width: 80%; 
  height: 8%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Tilt Neon', cursive;
  font-size: 25px;
  border: none;
  margin-top: 60px;
  margin-bottom: 30px;
}

#but2 {
  width: 80%; 
  height: 8%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 25px;
  font-family: 'Tilt Neon', cursive;
  border: none;
  margin-bottom: 30px;
}

#but3 {
  width: 80%; 
  height: 8%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 25px;
  font-family: 'Tilt Neon', cursive;
  border: none;
  margin-bottom: 30px;
}

#but4 {
  width: 80%; 
  height: 8%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 25px;
  font-family: 'Tilt Neon', cursive;
  border: none;
  margin-bottom: 440px;
}

#but5 {
  width: 80%; 
  height: 8%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 25px;
  font-family: 'Tilt Neon', cursive;
  border: none;
}
